<%= simple_form_for(@script) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {autofocus: true} %>
    <%= f.label :content %>
    <% if @script.content.present? %>
      <div id="script-content" class="form-control" style="height:400px"><%= @script.content %></div>
    <% else %>
<div id="script-content" class="form-control" style="height:400px">
# Welcome to GistScript! Write a Ruby (Rails) script and have it run on an url.
# @author  = "Alessio Santo"
# @email   = "alessio@gistscript.com"

# Use this box to write ruby code as you normally do:
#
# - Print stuff to the output console like this:
print("hi there pal!")
# - Send a notification email to yourself or someone like this:
mail("Alessio", "alessio@gistscript.com", "Tell me something I don't know!").deliver
# - More to come in the near future...
#
# Have fun and let me know if there's anything I can add or do better!
</div>
    <% end %>
    <br>
    <p>
      Use <code>print("message")</code> to print output.
    </p>

    <%= f.hidden_field :content %>
    <%= f.hidden_field :user_info %>
    <br>
    <script>
    (function (){
      var editor = ace.edit("script-content");
      editor.setTheme("ace/theme/github");
      editor.getSession().setMode("ace/mode/ruby");

      var info;
      UserInfo.getInfo(function(data) {
        info = data;
      }, function(err) {
        info = err;
      });

      $("form").submit(function(){
        $("#script_content").val(editor.getValue());
        $("#script_user_info").val(JSON.stringify(info));
      });
    })()
    </script>
  </div>

  <%= f.input :schedule, collection: Script::SCHEDULES, prompt: false %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>


<script>

</script>
